
@{
    ViewBag.Title = "CustomerHome";
}

<div class="jumbotron">
    <h1>Customer Home Page</h1>
    <p class="lead">Home page for you to view or edit your information. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Change Trash Pick-Up day</h2>
        <p>
            Change your pickup day for one week or for every week to fit your schedule. 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Payments</h2>
        <p>See how much you owe for the month for the pickups you recieved so you can budget accordingly.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vacation</h2>
        <p>Specify a period of time you don't want a pickup so you can go on vacaton. </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Go &raquo;</a></p>
    </div>
</div>

