
@{
    ViewBag.Title = "EmployeeHome";
}

<div class="jumbotron">
    <h1>Employee Home page</h1>
    <p class="lead">Home page for employees for you to find your routes for the day using Google Maps.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find Routes</h2>
        <p>
            See which customers in my zip code are recieving a trash pickup for today.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Google Maps</h2>
        <p>See the customers in your zip code on Google Maps.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Go &raquo;</a></p>
    </div>

</div>
