@{
    ViewBag.Title = "About";
}
<h2>About Trash Collector</h2>
<h3>being GREEN is staying CLEAN</h3>

<p>We are Trash Collectors! We pick up your trash and throw it in a truck based on your convienience!</p>
