@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    devCodeCamp<br />
    Milwaukee, WI 53211<br />
    <abbr title="Phone">Phone:</abbr>
    414.444.0004
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@devCodeCamp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@devCodeCamp.com</a>
</address>