@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">A webiste that helps you manage your trash pickup schedule for both customer and allows employees to manage their routes.</p>
    <p><a href="http://localhost:33938/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register as a new customer to start recieving regular trash pickups. Or register as a new employee to start managing your routes and get paid accordingly.
        </p>
        <p><a class="btn btn-default" href="http://localhost:33938/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>